*{
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.nav-logo{
    width: 30%;
    height: auto;
}
.nav-item :hover{
    background-color:#008080;
    font-size: 1rem;
}
a{
    font-family :"Oswald" , sans-serif ;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
font-kerning: normal;
font-optical-sizing: auto;
font-stretch:100%;
font-variation-settings:
normal;
font-feature-settings:
normal;
text-transform:
uppercase;
text-decoration:
none solid rgb(254, 189, 26);
text-align:
left;
text-indent:0px;
}
.report{
    height: 2.5rem;
    width: 10rem;
background-color: #008080;
}
.report a{
    text-decoration: none;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.4rem;
    font-size: 1rem;
}
.dropdown-item{
    color: white;
}
.dropdown-menu{
    color: white;
}
.navbar{
    background-color: black;
}
.cover-img-car{
    background-image: url(img-bike.jpeg);
    background-size: cover;
    height: 30rem;
    width: 100%;
    text-align: center;
}
.car-info-parent{
    width: 80%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10rem;
    margin-left: 10rem;
}
.info-car{
    padding-right: 1.5rem;
}
.info-car h1{
    font-family: "Oswald" , sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: white;
    text-transform:capitalize ;
}
.info-report h1{
    font-family: "Oswald" , sans-serif;
    font-size: 5rem;
    font-weight: 500;
    color: #008080;
    text-transform: capitalize;
}
.price-option{
    background-color: black;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 2.5rem;
    margin-top: -8rem;
}
.pro-info{
    width: 50%;
    height: auto;
    margin-left: 19rem;
}
.pro-info h6{
    color:#008080;
    font-family: "nunito sans" , sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.pro-info h1{
    font-family: "oswald" , sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
.pro-info p{
    color: white;
    font-family: "nunito sans" , sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
.price-comparison-info{
    height: auto;
    width: 100%;
    background-color:black;
    margin-top: -1rem;
    display: flex;
    justify-content: center;
}
.price-comparison-1{
    width: 30%;
    height: 30rem;
    background-color:black;
    border: 1px solid;
    border-color:#101018;
}
.option-category{
    font-family: "oswald" , sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #008080;
    padding-top: 2rem;
}
.price-comparison-2{
    width: 30%;
    height: 35rem;
    background-color: #171A27;
    border: 1px solid;
    border-color:#101018;
}
.price-comparison-3{
    width: 30%;
    height: 32rem;
    background-color: black;
    border: 1px solid;
    border-color:#101018;
}
.price-tag{
    font-weight: 600;
    font-family: "oswlald" , sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.text-edit-h6 li{
    font-family: "oswald" , sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.text-edit-h6 h6{
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: "nunito sans" , sans-serif ;
    font-weight: 400;
}
ul{
    color: white;
}
.order-option{
    width: 8rem;
    height: 3rem;
    background-color: #008080;
    text-decoration: none;
    margin-left: 2rem;
}
.order-option a{
text-decoration: none;
display: flex;
justify-content: center;
padding-top: 0.5rem;
font-family: "oswald" , sans-serif;
color: #2B2418;
font-size: 1.1rem;
}
.order-option a:hover{
    font-size: 1.3rem;
}
.last-container{
    width: 100%;
    height: auto;
    background-color: #23283B;
    display: flex;
}
.footer-img{
   color: white;
    max-width: 30%;
    padding-top: 3rem;
    padding-left: 2.5rem;
}
.footer-img p{
    padding-top: 1rem;
}
ul{
    list-style-type: none;
}

img{
    max-width: 80%;
    height: auto;
}
.services-list{
   padding-left: 3rem;
   padding-top: 4rem;
    width: 30%;
}
.services-list li{
    margin-bottom: 0.5rem;
}
.services-list h2{
    color: white;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: "oswald" ,sans-serif;
    font-family: 500;
    font-size: 1.5rem;
}
.services-list a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
font-weight: 300;
}
.services-list a:hover{
    color: #008080;
    font-size: 1rem;
    
}
.contact-details{
    width: 30%;
    height: auto;
    margin-right: 1.5rem;
    margin-top: 2rem;
}
.contact-details h3{
    font-family: "oswald" ,sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}
.icon-container{
    width: 100%;
    height: auto;
display: flex;
margin-top: 2rem;
}
.message-container{
    margin-top: -0.1rem;
}
.icon-information h3{
    font-family: "oswald" ,sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: white;
}
.icon-information h3:hover{
    color:#3D414D;
}
.icon-information{
    margin-left: 1rem;
    color: white;
}
.fa-envelope{
    font-size: 1.7rem;
    color: #008080;
}
.fa-location-dot{
    font-size: 1.3rem;
    color: #008080; 
}
.follow-information{
    width: 30%;
    height: auto;
    background-color:#23283B;
}
.follow-information h1{
    font-family: "oswald" ,sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    padding-top: 1.2rem;
    padding-left: 1.3rem;
}
.follow-container{
    display: flex;
    margin-left: 1.4rem;
}
.follow-icon{
    width: 2rem;
    height: 2rem;
    background-color: #008080;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.follow-icon:hover{
    background-color: #12121B;
    font-size: 1rem;
}
.facebook-icon{
    margin-top: 1rem;
}
.twitter-icon{
    margin-top: 1rem;
margin-left: 0.7rem;
}
.youtube-icon{
    margin-top: 1rem;
    margin-left: 0.7rem;
}
.color-icon{
    color: #12121B;
    font-size: 1rem;
}
.color-icon:hover{
    color: #008080;
    font-size: 1rem;
}
.payment-option{
    margin-top: 2rem;
}
.copyright-info{
    width: 100%;
    height: 3rem;
    background-color: black;

}
.copyright-info p{
    padding-top: 0.5rem;
    color: white;
    padding-left: 2rem;
}
.sec-paragraph{
    height: auto;
    width: 80%;
    margin-left: 3rem;
    margin-top: 1rem;
}
.sec-paragraph p{
    font-size: 1rem;
    font-family: "nunito sans" , sans-serif;
    font-weight: 400;
    color: white;
}
.res img{
    width: 40%;
    height: auto;
}
/* Cart Section */
.cart {
    background-color: beige;
      max-height: 100%;
      width: 30%;
      z-index: 1000;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-rows:3rem 1fr 3rem ;
      color: white;
display: none;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
overflow-y: auto;
z-index: 1000;
display: none;
}
.cart-items{
padding-bottom: 0px;
}
.cart-items .cart-item{
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem; 
    font-family: "nunito sans" , sans-serif;
    color: white;
    text-decoration: none;
}

.cart-items .cart-item .item-description a{
text-decoration: none;
font-family: "nunito sans" , sans-serif;
color: white;
font-size: 1rem;
}
.cart-items .cart-item img{
max-width: 20%;
height: auto;
display: flex;
align-items: center;
justify-content: center;

}

.cart-items .cart-item button{
padding-right: 2rem;
}
.cart-items .cart-item .item-description a :hover{
color: #008080;
}
.remove-item {
background-color: transparent;
border: none;
color: black;
cursor: pointer;

}
.fa-trash{
font-size: 1.2rem;
color: black;
padding-top: 2rem;
}

.remove-item:hover {
color: darkred;
}

.cart-total {
margin-top: 10px;
font-weight: bold;
}

/* Cart Icon */
#cart-icon {
position: fixed;
bottom: 20px;
left: 20px;
background-color: black;
color: white;
font-size: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-size: 1.5rem;
width: 4rem;
height: 4rem;
}

#cart-icon .item-count {
position: absolute;
top: -5px;
right: -5px;
background-color: black;
color: white;
font-size: 12px;
border-radius: 50%;
padding: 5px 8px;
}
.view-cart{
display: block;
bottom: 10px;
z-index: 1000;
overflow:auto;
display: grid;
grid-template-columns: repeat(2 , 1ftr);
}
.cart-icon {
position: fixed;
bottom: 10px;
right: 10px;
background-color: #f1f1f1;
border-radius: 50%;
padding: 10px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

#cart-icon img {
width: 30px;
height: 30px;
}

#cart-count {
position: absolute;
top: -5px;
right: -5px;
background-color: #008080;
color: white;
border-radius: 50%;
padding: 5px 10px;
font-size: 14px;
}

.cart-window {
position: fixed;
top: 0;
right: 0;
bottom: 0;
width: 35%;
height: 100%;
background-color: #fff;
box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
display: none;
overflow-y: auto;
padding: 20px;
z-index: 1000;
}
.cart-header button{
width: 2rem;
height: 2rem;
border-radius: 50%;
background-color: orange;
display: flex;
align-items: center;
justify-content: center;
}

.cart-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.cart-items {
margin-bottom: 20px;
}

.cart-items .cart-item {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #ccc;
}

.cart-item button {
color: red;
background: none;
border: none;
cursor: pointer;
}
.cart-footer{
top: 0;
bottom: 0;
}
.cart-footer button {
padding-left: 1.5rem;
background-color: green;
color: white;
border: none;
cursor: pointer;
margin-top: 10px;
top: 0;
bottom: 0;
}

.cart-footer button:hover {
background-color: darkgreen;
}

#total-amount {
font-weight: bold;
margin-top: 20px;
}
.cart {
    background-color: beige;
      max-height: 100%;
      width: 30%;
      z-index: 1000;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      display: grid;
      grid-template-rows:3rem 1fr 3rem ;
      color: white;
display: none;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
overflow-y: auto;
z-index: 1000;
display: none;
}
.cart-items{
padding-bottom: 0px;
}
.cart-items .cart-item{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem; 
    font-family: "nunito sans" , sans-serif;
    color: white;
    text-decoration: none;
}

.cart-items .cart-item .cart-item-details a{
text-decoration: none;
font-family: "nunito sans" , sans-serif;
color: white;
font-size: 1rem;
}
.cart-item-details{
    text-decoration: none;
    font-family: "nunito sans" , sans-serif;
    color: black;
    font-size: 1rem;
    padding-left: 1rem;
}
.cart-items .cart-item img{
max-width: 20%;
height: auto;
display: flex;
align-items: center;
justify-content: center;

}
.cart-item-details a :hover{
    color: #f1f1f1;
}
.cart-items .cart-item button{
padding-right: 2rem;
padding-top: 1.2rem;
}
.cart-items .cart-item .cart-item-details a :hover{
color: #008080;
}
.remove-item {
background-color: transparent;
border: none;
color: black;
cursor: pointer;

}
.fa-trash{
font-size: 1.2rem;
color: black;

}

.remove-item:hover {
color: darkred;
}

.cart-total {
margin-top: 10px;
font-weight: bold;
}

/* Cart Icon */
#cart-icon {
position: fixed;
bottom: 20px;
left: 20px;
background-color: black;
color: white;
font-size: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-size: 1.5rem;
width: 4rem;
height: 4rem;
}

#cart-icon .item-count {
position: absolute;
top: -5px;
right: -5px;
background-color: black;
color: white;
font-size: 12px;
border-radius: 50%;
padding: 5px 8px;
}
.view-cart{
display: block;
bottom: 10px;
z-index: 1000;
overflow:auto;
display: grid;
grid-template-columns: repeat(2 , 1ftr);
}
.cart-icon {
position: fixed;
bottom: 10px;
right: 10px;
background-color: #f1f1f1;
border-radius: 50%;
padding: 10px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}

#cart-icon img {
width: 30px;
height: 30px;
}

#cart-count {
position: absolute;
top: -5px;
right: -5px;
background-color: #008080;
color: white;
border-radius: 50%;
padding: 5px 10px;
font-size: 14px;
}

.cart-window {
position: fixed;
top: 0;
right: 0;
bottom: 0;
width: 35%;
height: 100%;
background-color: #F8F9FA;
box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
display: none;
overflow-y: auto;
padding: 20px;
z-index: 1000;
}
.cart-header button{
width: 2rem;
height: 2rem;
border-radius: 50%;
background-color: orange;
display: flex;
align-items: center;
justify-content: center;
}

.cart-header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.cart-items {
margin-bottom: 20px;
}

.cart-items .cart-item {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
padding: 10px;
border-bottom: 1px solid #ccc;
}

.cart-item button {
color: red;
background: none;
border: none;
cursor: pointer;
}
.cart-footer{
top: 0;
bottom: 0;
z-index: 1000;
}
.cart-footer button {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1.2rem;
    top: 0;
    bottom: 0;
    text-decoration: none;
    font-family: "nunito sans" , sans-serif;
    display: flex;
}

.cart-footer button:hover {
background-color: darkgreen;
}

#total-amount {
font-weight: bold;
margin-top: 20px;
}
.view-cart-btn{
    padding: 10px 15px;
background-color: black;
color: white;
border: none;
cursor: pointer;
margin-top: 1.2rem;
top: 0;
bottom: 0;
text-decoration: none;
font-family: "nunito sans" , sans-serif;
display: flex;
text-align: center;
}
.cart-footer a{
    text-decoration: none;
font-family: "nunito sans" , sans-serif;
font-size: 1.2rem;
text-align: center;
}
.cart-footer a :hover{
    background-color: white;
    border: 1.4px solid;
    border-color: black;
}
@media (max-width:700px) and (min-width:375px){
    .last-container{
      flex-direction: column;
    }
    .footer-img{
       max-width: 100%;
       flex: 0 0 auto;
       box-sizing: border-box;
       font-size: 1.5rem;
    }
    body{
        overflow-x: hidden;
        padding: 0;
    }
}
    











